// sco.message.js
//-------------------
$mess_font_color: #fff; 
$mess_font_size: 15px; 

$mess_ok_bg: #48bb5e; 
$mess_ok_border: darken(#48bb5e,10%); 

$mess_error_bg: #de4343;  
$mess_error_border: darken(#de4343,10%);  

// Some combinations will look jerky, play around and test
$mess_bg_size: 10px;  // Size of the background stripes
$mess_animate_speed: 3s;  // Animation speed of the page message


// sco.tooltip.js
//-------------------
$tooltip_padding: 0.6em;
$tooltip_width: 12em;
$tooltip_color: #f9f9f9;
$tooltip_font_size: 85%;
$tooltip_bg: #444;
$tooltip_radius: 3px;
$tooltip_border: #000;

$pointer_base: 8px;
$pointer_height: 8px;
$pointer_bg: $tooltip_bg;

$tooltip_light_color: #222;
$tooltip_light_bg: #f9f9f9;
$tooltip_light_border: #e6e6e6;


// sco.panes.js
//-------------------
$fade_speed: 0.6s;
$fade_effect: ease;

$slide_speed: 0.6s;
$slide_effect: cubic-bezier(0.075, 0.82, 0.165, 1);

$flip_speed: 0.6s;
$flip_effect: ease;