@import "compass/css3";
@import "animation";
@import "variables";

#page_message {
	display: none;
	font-size: $mess_font_size;
	overflow: visible;
	text-align: center;
	left: 0;
	top: 0;
	/* place over all elements, also over popups */
	z-index: 10001;
	width: 100%;
	border-bottom: 1px solid;
	color: $mess_font_color;
	padding: 15px;
	position: fixed;	
}
.page_mess_error {
	background-color: $mess_error_bg;
	border-color: $mess_error_border;
}
.page_mess_ok {
	background-color: $mess_ok_bg;
	border-color: $mess_ok_border;
}
.page_mess_animate {
	@include background-image(
		linear-gradient(
			135deg,
			rgba(#fff,.05) 25%,
			transparent 25%,
			transparent 50%,
			rgba(#fff,0.05) 50%,
			rgba(#fff,0.05) 75%,
			transparent 75%,
			transparent
		)
	);
	@include background-size($mess_bg_size $mess_bg_size);	
	@include animation(animate-bg $mess_animate_speed linear infinite);
}

@include keyframes(animate-bg) {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -($mess_bg_size*2) 0;
	}
}