@import "variables";

.tooltip {
	padding: $tooltip_padding;
	width: $tooltip_width;
	z-index: 10001;
	position: absolute;
	background: $tooltip_bg;
	color: $tooltip_color;
	font-size: $tooltip_font_size;
	display: none;
	border: 1px solid $tooltip_border;
	border-radius: $tooltip_radius;
	opacity: 1;
	filter: alpha(opacity=100);

	&.light {
		background: $tooltip_light_bg;
		color: $tooltip_light_color;
		border-color: $tooltip_light_border;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 0;
	}

	&.pos_n {

		&:before,
		&:after {
			left: 50%;
		}

		&:before {
			border-top: ($pointer_height+1px) solid $tooltip_border;
			border-left: ($pointer_base+1px) dashed transparent;
			border-right: ($pointer_base+1px) dashed transparent;
			bottom: -($pointer_height+1px);
			margin-left: -($pointer_base/2+1px);
		}

		&.light:before {
			border-top-color: $tooltip_light_border;
		}

		&:after {
			border-top: $pointer_height solid $tooltip_bg;
			border-left: $pointer_base dashed transparent;
			border-right: $pointer_base dashed transparent;
			bottom: -$pointer_height;
			margin-left: -($pointer_base/2);
		}

		&.light:after {
			border-top-color: $tooltip_light_bg;
		}

	}

	&.pos_ne {

		&:before {
			border-top: ($pointer_base*1.5)+1px solid $tooltip_border;
			border-right: ($pointer_base*1.5)+2px dashed transparent;
			border-left: 0 dashed transparent;
			margin-left: $pointer_base - 1px;
			bottom: -$pointer_base*1.5 - 1px;
		}

		&.light:before {
			border-top-color: $tooltip_light_border;
		}

		&:after {
			border-top: ($pointer_base*1.5) solid $tooltip_bg;
			border-right: ($pointer_base*1.5) dashed transparent;
			border-left: 0 dashed transparent;
			margin-left: $pointer_base;
			bottom: -$pointer_base*1.5;
		}

		&.light:after {
			border-top-color: $tooltip_light_bg;
		}

	}

	&.pos_e {

		&:before,
		&:after {
			top: 50%;
		}

		&:before {
			border-right: $pointer_height+1px solid $tooltip_border;
			border-top: $pointer_base+1px dashed transparent;
			border-bottom: $pointer_base+1px dashed transparent;
			left: -($pointer_height+1px);
			margin-top: -($pointer_base/2+1px);
		}

		&.light:before {
			border-right-color: $tooltip_light_border;
		}

		&:after {
			border-right: $pointer_height solid $tooltip_bg;
			border-top: $pointer_base dashed transparent;
			border-bottom: $pointer_base dashed transparent;
			left: -$pointer_height;
			margin-top: -($pointer_base/2);
		}

		&.light:after {
			border-right-color: $tooltip_light_bg;
		}

	}

	&.pos_se {

		&:before {
			border-bottom: ($pointer_base*1.5)+1px solid $tooltip_border;
			border-right: ($pointer_base*1.5)+2px dashed transparent;
			border-left: 0px dashed transparent;
			margin-left: $pointer_height - 1px;
			top: -($pointer_base*1.5) - 1px;
		}

		&.light:before {
			border-bottom-color: $tooltip_light_border;
		}

		&:after {
			border-bottom: ($pointer_base*1.5) solid $tooltip_bg;
			border-right: ($pointer_base*1.5) dashed transparent;
			border-left: 0px dashed transparent;
			margin-left: $pointer_height;
			top: -($pointer_base*1.5);
		}

		&.light:after {
			border-bottom-color: $tooltip_light_bg;
		}

	}

	&.pos_s {

		&:before,
		&:after {
			left: 50%;
		}

		&:before {
			border-bottom: $pointer_base+1px solid $tooltip_border;
			border-left: $pointer_base+1px dashed transparent;
			border-right: $pointer_base+1px dashed transparent;
			top: -($pointer_base+1px);
			margin-left: -($pointer_base/2+1px);
		}

		&.light:before {
			border-bottom-color: $tooltip_light_border;
		}

		&:after {
			border-bottom: $pointer_base solid $tooltip_bg;
			border-left: $pointer_base dashed transparent;
			border-right: $pointer_base dashed transparent;
			top: -$pointer_base;
			margin-left: -$pointer_base/2;
		}

		&.light:after {
			border-bottom-color: $tooltip_light_bg;
		}

	}

	&.pos_sw {

		&:before,
		&:after {
			left: 100%;
		}

		&:before {
			border-bottom: ($pointer_base*1.5)+1px solid $tooltip_border;
			border-left: ($pointer_base*1.5)+2px dashed transparent;
			border-right: 0px dashed transparent;
			margin-left: -(($pointer_height*2.5) + 2px);
			top: -($pointer_base*1.5) - 1px;
		}

		&.light:before {
			border-bottom-color: $tooltip_light_border;
		}

		&:after {
			border-bottom: ($pointer_base*1.5) solid $tooltip_bg;
			border-left: ($pointer_base*1.5) dashed transparent;
			border-right: 0px dashed transparent;
			margin-left: -$pointer_height*2.5;
			top: -($pointer_base*1.5);
		}

		&.light:after {
			border-bottom-color: $tooltip_light_bg;
		}
	}

	&.pos_w {

		&:before {
			border-left: ($pointer_height+1px) solid $tooltip_border;
			border-top: ($pointer_base+1px) dashed transparent;
			border-bottom: ($pointer_base+1px) dashed transparent;
			right: -($pointer_height+1px);
			top: 50%;
			margin-top: -($pointer_base/2+1px);
		}

		&.light:before {
			border-left-color: $tooltip_light_border;
		}

		&:after {
			border-left: $pointer_height solid $tooltip_bg;
			border-top: $pointer_base dashed transparent;
			border-bottom: $pointer_base dashed transparent;
			right: -$pointer_height;
			top: 50%;
			margin-top: -($pointer_base/2);
		}

		&.light:after {
			border-left-color: $tooltip_light_bg;
		}

	}

	&.pos_nw {

		&:before,
		&:after {
			left: 100%;
		}

		&:before {
			border-top: ($pointer_base*1.5)+1px solid $tooltip_border;
			border-left: ($pointer_base*1.5)+2px dashed transparent;
			border-right: 0px dashed transparent;
			margin-left: -(($pointer_height*2.5) + 2px);
			bottom: -($pointer_base*1.5) - 1px;
		}

		&.light:before {
			border-top-color: $tooltip_light_border;
		}

		&:after {
			border-top: ($pointer_base*1.5) solid $tooltip_bg;
			border-left: ($pointer_base*1.5) dashed transparent;
			border-right: 0px dashed transparent;
			margin-left: -$pointer_height*2.5;
			bottom: -($pointer_base*1.5);
		}

		&.light:after {
			border-top-color: $tooltip_light_bg;
		}
	}

}

